In [20]:
"""Esta funcion esta diseñada para calcular el costo de los compresores de diafragma.
Se basa en las graficas del libro "Analysis, Synthesis, and Design of Chemical Processes
de Richard Turton 

Para que el codigo funcione se necesita ingresar una tabla con los siguientes datos:
- El número de compresores
- La potencia de cada compresor (kW)"""

'Esta funcion esta diseñada para calcular el costo de los compresores de diafragma.\nSe basa en las graficas del libro "Analysis, Synthesis, and Design of Chemical Processes\nde Richard Turton \n\nPara que el codigo funcione se necesita ingresar una tabla con los siguientes datos:\n- El número de compresores\n- La potencia de cada compresor (kW)'

In [36]:
#Este script es para la prueba del objeto programdo que debe calcular el precio de los compresores 

import pandas as pd

data = {
    "Compresor": ["No. 1", "No. 2", "No. 3", "No. 4", "No. 5", "No. 6", "No. 7", "Total"],
    "T (K)": [298.15, 298.15, 298.15, 298.15, 298.15, 298.15, 298.15, 298.15],
    "P (bar)": [51.218, 71.410, 91.602, 111.794, 131.986, 152.178, 172.370, 172.370],
    "Cooling H2O (kg/s)": [1.051367, 1.050879, 1.051560, 1.053333, 1.056200, 1.059975, 1.064421, 7.387737],
    "Q (kW)": [540.954909, 529.022526, 544.687203, 569.432287, 596.159713, 622.280770, 646.844117, 4049.381525],
    "W (kW)": [457.935967, 301.767031, 217.431741, 165.303163, 130.483501, 105.913498, 87.851213, 1466.686112],
    "Consumption (kW)": [998.890875, 830.789557, 762.118943, 734.735451, 726.643214, 728.194268, 734.695330, 5516.067638]
}

prueba = pd.DataFrame(data)
prueba

,Compresor,T (K),P (bar),Cooling H2O (kg/s),Q (kW),W (kW),Consumption (kW)
0,No. 1,298.15,51.218,1.051367,540.954909,457.935967,998.890875
1,No. 2,298.15,71.410,1.050879,529.022526,301.767031,830.789557
2,No. 3,298.15,91.602,1.051560,544.687203,217.431741,762.118943
3,No. 4,298.15,111.794,1.053333,569.432287,165.303163,734.735451
4,No. 5,298.15,131.986,1.056200,596.159713,130.483501,726.643214
5,No. 6,298.15,152.178,1.059975,622.280770,105.913498,728.194268
6,No. 7,298.15,172.370,1.064421,646.844117,87.851213,734.695330
7,Total,298.15,172.370,7.387737,4049.381525,1466.686112,5516.067638

In [ ]:
class PriceCalculator:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        self.calculate_price()

    def calculate_price(self):
        prices = []
        cepci_2001 = 397
        cepci_2024 = 798.8
        for index, row in self.dataframe.iterrows():
            if index < len(self.dataframe) - 1:  # For all rows except the last one
                w_value = row["Consumption (kW)"]
                price = (7E-12 * w_value**4 - 6E-08 * w_value**3 + 0.0002 * w_value**2 - 0.2777 * w_value + 426) * (cepci_2024 / cepci_2001)
                prices.append(price)
            else:  # For the last row
                total_price = sum(prices)
                prices.append(total_price)
        self.dataframe["Price"] = prices
        total_price = self.dataframe["Price"].iloc[-1]
        installation_cost = total_price * 2.5
        piping_cost = total_price * 0.21
        electrical_cost = total_price * 0.16
        instrumentation_cost = total_price * 0.08
        insulation_cost = total_price * 0.03
        Final_cost = total_price + installation_cost + piping_cost + electrical_cost + instrumentation_cost + insulation_cost
        # Create a data frame with the extra costs
        extras = {
            "Total Price (FOB)": [total_price],
            "Installation Cost": [installation_cost],
            "Piping Cost": [piping_cost],
            "Electrical Cost": [electrical_cost],
            "Instrumentation Cost": [instrumentation_cost],
            "Insulation Cost": [insulation_cost],
            "Final Cost": [Final_cost]
        }
        self.extras_df = pd.DataFrame(extras)
        return self.dataframe, self.extras_df

# Use the class with the prueba dataframe
calculator = PriceCalculator(prueba)

In [43]:
calculator.dataframe

,Compresor,T (K),P (bar),Cooling H2O (kg/s),Q (kW),W (kW),Consumption (kW),Price
0,No. 1,298.15,51.218,1.051367,540.954909,457.935967,998.890875,594.236812
1,No. 2,298.15,71.410,1.050879,529.022526,301.767031,830.789557,608.177586
2,No. 3,298.15,91.602,1.051560,544.687203,217.431741,762.118943,616.357008
3,No. 4,298.15,111.794,1.053333,569.432287,165.303163,734.735451,620.071934
4,No. 5,298.15,131.986,1.056200,596.159713,130.483501,726.643214,621.221544
5,No. 6,298.15,152.178,1.059975,622.280770,105.913498,728.194268,620.999338
6,No. 7,298.15,172.370,1.064421,646.844117,87.851213,734.695330,620.077575
7,Total,298.15,172.370,7.387737,4049.381525,1466.686112,5516.067638,4301.141796

In [ ]:
calculator.extras_df

,Total Price (FOB),Installation Cost,Piping Cost,Electrical Cost,Instrumentation Cost,Insulation Cost,Final Cost
0,4301.141796,10752.854489,903.239777,688.182687,344.091344,129.034254,17118.544347