 <h1>Compresores </h1>

In [78]:
"""Esta funcion esta diseñada para calcular el costo de los compresores de diafragma.
Se basa en las graficas del libro "Analysis, Synthesis, and Design of Chemical Processes
de Richard Turton 

Para que el codigo funcione se necesita ingresar una tabla con los siguientes datos:
- El número de compresores
- La potencia de cada compresor (kW)"""

'Esta funcion esta diseñada para calcular el costo de los compresores de diafragma.\nSe basa en las graficas del libro "Analysis, Synthesis, and Design of Chemical Processes\nde Richard Turton \n\nPara que el codigo funcione se necesita ingresar una tabla con los siguientes datos:\n- El número de compresores\n- La potencia de cada compresor (kW)'

In [79]:
#Este script es para la prueba del objeto programdo que debe calcular el precio de los compresores 

import pandas as pd

data = {
    "Compresor": ["No. 1", "No. 2", "No. 3", "No. 4", "No. 5", "No. 6", "No. 7", "Total"],
    "T (K)": [298.15, 298.15, 298.15, 298.15, 298.15, 298.15, 298.15, 298.15],
    "P (bar)": [51.218, 71.410, 91.602, 111.794, 131.986, 152.178, 172.370, 172.370],
    "Cooling H2O (kg/s)": [1.051367, 1.050879, 1.051560, 1.053333, 1.056200, 1.059975, 1.064421, 7.387737],
    "Q (kW)": [540.954909, 529.022526, 544.687203, 569.432287, 596.159713, 622.280770, 646.844117, 4049.381525],
    "W (kW)": [457.935967, 301.767031, 217.431741, 165.303163, 130.483501, 105.913498, 87.851213, 1466.686112],
    "Consumption (kW)": [998.890875, 830.789557, 762.118943, 734.735451, 726.643214, 728.194268, 734.695330, 5516.067638]
}

prueba = pd.DataFrame(data)
prueba

,Compresor,T (K),P (bar),Cooling H2O (kg/s),Q (kW),W (kW),Consumption (kW)
0,No. 1,298.15,51.218,1.051367,540.954909,457.935967,998.890875
1,No. 2,298.15,71.410,1.050879,529.022526,301.767031,830.789557
2,No. 3,298.15,91.602,1.051560,544.687203,217.431741,762.118943
3,No. 4,298.15,111.794,1.053333,569.432287,165.303163,734.735451
4,No. 5,298.15,131.986,1.056200,596.159713,130.483501,726.643214
5,No. 6,298.15,152.178,1.059975,622.280770,105.913498,728.194268
6,No. 7,298.15,172.370,1.064421,646.844117,87.851213,734.695330
7,Total,298.15,172.370,7.387737,4049.381525,1466.686112,5516.067638

In [80]:
class PriceCalculator:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        self.calculate_price()

    def calculate_price(self):
        prices = []
        cepci_2001 = 397
        cepci_2024 = 798.8
        for index, row in self.dataframe.iterrows():
            if index < len(self.dataframe) - 1:  # For all rows except the last one
                w_value = row["Consumption (kW)"]
                price = (7E-12 * w_value**4 - 6E-08 * w_value**3 + 0.0002 * w_value**2 - 0.2777 * w_value + 426) * (cepci_2024 / cepci_2001)
                prices.append(price)
            else:  # For the last row
                total_price = sum(prices)
                prices.append(total_price)
        self.dataframe["Price (USD)"] = prices
        total_price = self.dataframe["Price (USD)"].iloc[-1]
        installation_cost = total_price * 2.5
        piping_cost = total_price * 0.21
        electrical_cost = total_price * 0.16
        instrumentation_cost = total_price * 0.08

        Final_cost = total_price + installation_cost + piping_cost + electrical_cost + instrumentation_cost
        # Create a data frame with the extra costs
        extras = {
            "Total Price (FOB)": [total_price],
            "Installation Cost (USD)": [installation_cost],
            "Piping Cost (USD)": [piping_cost],
            "Electrical Cost (USD)": [electrical_cost],
            "Instrumentation Cost (USD)": [instrumentation_cost],
            "Final Cost (USD)": [Final_cost]
        }
        self.extras_df = pd.DataFrame(extras)
        return self.dataframe, self.extras_df

# Use the class with the prueba dataframe
calculator = PriceCalculator(prueba)

In [81]:
calculator.dataframe

,Compresor,T (K),P (bar),Cooling H2O (kg/s),Q (kW),W (kW),Consumption (kW),Price (USD)
0,No. 1,298.15,51.218,1.051367,540.954909,457.935967,998.890875,594.236812
1,No. 2,298.15,71.410,1.050879,529.022526,301.767031,830.789557,608.177586
2,No. 3,298.15,91.602,1.051560,544.687203,217.431741,762.118943,616.357008
3,No. 4,298.15,111.794,1.053333,569.432287,165.303163,734.735451,620.071934
4,No. 5,298.15,131.986,1.056200,596.159713,130.483501,726.643214,621.221544
5,No. 6,298.15,152.178,1.059975,622.280770,105.913498,728.194268,620.999338
6,No. 7,298.15,172.370,1.064421,646.844117,87.851213,734.695330,620.077575
7,Total,298.15,172.370,7.387737,4049.381525,1466.686112,5516.067638,4301.141796

In [82]:
calculator.extras_df

,Total Price (FOB),Installation Cost (USD),Piping Cost (USD),Electrical Cost (USD),Instrumentation Cost (USD),Final Cost (USD)
0,4301.141796,10752.854489,903.239777,688.182687,344.091344,16989.510093

 <h1>Tanques </h1>

In [ ]:
class TankCostCalculator:
    def __init__(self, tank_type, mass_of_tank, number_of_tanks):
        self.tank_type = tank_type
        self.mass_of_tank = mass_of_tank * 2204.62  # Convert mass from ton to lb
        self.number_of_tanks = number_of_tanks
        self.tank_data = {
            "Type I": {"weight_per_liter": 3.1, "price_per_pound": 5.5},
            "Type II": {"weight_per_liter": 2.0, "price_per_pound": 9.0},
            "Type III & IV": {"weight_per_liter": 1.0, "price_per_pound": 15.5}
        }
        self.linear_model = None

    def perform_regression(self):
        """
        Perform linear regression based on the tank data.
        """
        x = np.array([data["weight_per_liter"] for data in self.tank_data.values()]).reshape(-1, 1)
        y = np.array([data["price_per_pound"] for data in self.tank_data.values()])
        self.linear_model = LinearRegression().fit(x, y)
        print(f"Regression Coefficients: Slope = {self.linear_model.coef_[0]}, Intercept = {self.linear_model.intercept_}")

    def calculate_cost(self):
        """
        Calculate the cost of the tank based on the regression model.
        """
        if self.linear_model is None:
            raise ValueError("You must perform regression before calculating the cost.")
        
        weight_per_liter = self.tank_data[self.tank_type]["weight_per_liter"]
        CEPCI_2014 = 576.1
        CEPCI_2024 = 798.8
        predicted_price_per_pound = self.linear_model.predict([[weight_per_liter]])[0] * (CEPCI_2024 / CEPCI_2014)
        
        cost_per_tank = self.mass_of_tank * predicted_price_per_pound
        total_cost = cost_per_tank * self.number_of_tanks
        return cost_per_tank, total_cost

# Example usage:

T1="Type I"
T2="Type II"
T3="Type III & IV"



tank_type = T3
mass_of_tank = 632.7989842424382   # in ton
number_of_tanks = 1

calculator = TankCostCalculator(tank_type, mass_of_tank, number_of_tanks)
calculator.perform_regression()
cost_per_tank, total_cost = calculator.calculate_cost()
print(f"The cost for one {tank_type} tank with a mass of {mass_of_tank} lb is ${cost_per_tank:.2f}")
print(f"The total cost for {number_of_tanks} tanks is ${total_cost:.2f}")

Regression Coefficients: Slope = -4.735649546827796, Intercept = 19.629154078549853
The cost for one Type III & IV tank with a mass of 632.7989842424382 lb is $28809558.26
The total cost for 1 tanks is $28809558.26