<h1>Operating cost</h1>

The cost of producing a chemical product will include the items listed below. They are
divided into two groups.
1. Fixed operating costs: costs that do not vary with production rate. These are the bills that have to be paid whatever the quantity produced.
2. Variable operating costs: costs that are dependent on the amount of product produced.

<h2>Fixed cost</h2>

Fixed cost consider:
<ol>
    <li>Maintenance (labour and materials): typically 5 to 15 per cent of the installed capital costs</li>
    <li>Utilities (Services)</li>
         <ol>
            <li>Power</li>
            <li>Cooling and process water</li>
        </ol>
    <li>Taxes </li>
    <li>Operation labour: Should be calculated from an estimate of the number of shift and day personnel needed, should include:</li>
        <ol>
            <li>Hollidays.</li>
            <li>Aguinaldo</li>
            <li>insurance</li>
        </oll>
</li>
</ol>

<h3>Maintenace</h3>

In [205]:
class Maintenance:
    def __init__(self, installed_capital_cost):
        self.installed_capital_cost = installed_capital_cost
        self.calculate_maintenance_cost()

    def calculate_maintenance_cost(self):
        self.maintenance_cost=self.installed_capital_cost * 0.10
        return self.maintenance_cost
     

# Example usage
installed_capital_cost = 54825111.8  # Replace with your input value
Main_total = Maintenance(installed_capital_cost)
Main_total.maintenance_cost

5482511.18

<h3>Utilities</h3>

**Power**

In [206]:
"""Considerando que deacuero con datos de la CFE, el precio de la energia es del 1.4764 $/kWh  en punta para el estado de baja California, municipio de Mexicali"""
"""Referencia: https://app.cfe.mx/Aplicaciones/CCFE/Tarifas/TarifasCREIndustria/Tarifas/DemandaIndustrialSub.aspx"""

def energy_cost(energy_kwh):
    price_per_kwh = 1.4764  # Price in $/kWh
    time=3 #Amounts of hour of the batch system
    total_cost = energy_kwh * price_per_kwh*time
    return total_cost
Power_total=energy_cost(625.493254) #Replace with your input value
Power_total

2770.4347206168

**Cooling water**

In [207]:
#SERVICIO INDUSTRIAL MEDIDO
#tarifa de industrial con cuotas de Baja california 
#https://www.oosapascomondu.gob.mx/index.php/servicios/Cuotas


def water_cost(water):
    price_per_m3=39.16 #MNX
    water_m3=water*1000 #Convertir de L a m3
    CWater_total = water_m3 * price_per_m3
    return CWater_total 

########## costos de agua 
#water_total=water_cost(1000) #Replace with your input value
#water_total

<h3>Operating labour</h3>

In [208]:
import pandas as pd
trabajo = {
    "Personal": ["Ingeniero de procesos", 
                 "Operadores de planta ", 
                 "Personal Técnico y de Mantenimiento mecánico",
                 "Personal Técnico eléctrico/instrumentación",
                 "Ingeniero de seguridad de procesos",
                 "Administrador/a general",
                 "Responsable de recursos humanos",
                 "Ingeniero ambiental",
                 "Personal de intendendia industrial"],
    "Cantidad de personal": [2,6,4,4,1,1,2,1,4],
    "Salario c/u": [30000,
                    9000,
                    11000,
                    11000,
                    25000,
                    20000,
                    20000,
                    25000,
                    8000],
}

#Dataframe creation and calculations of the salary per month and year
recursos_humano = pd.DataFrame(trabajo)

#modificaciones de la tabla
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Cantidad de personal"] * recursos_humano["Salario c/u"]
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/mes)"] * 12 #meses de trabajo al año
recursos_humano["Vacaciones (MNX/año)"]=(recursos_humano["Salario c/u"]/30*6)*recursos_humano["Cantidad de personal"]# LFT establece un mínimo de 6 días de vacaciones anuales. Este número aumenta en 2 días por cada año de servicio, hasta un máximo de 20 días. En este caso, se considera un mínimo de 6 días para todos los trabajadores.
recursos_humano["Aguinaldo (MNX/año)"]=(recursos_humano["Salario c/u"]/30*15)*recursos_humano["Cantidad de personal"]#La LFT establece un aguinaldo equivalente a 15 días de salario
recursos_humano["Prima Vacacional (MNX/año)"]=(recursos_humano["Salario c/u"]/30*12*0.25)*recursos_humano["Cantidad de personal"]#La LFT también establece una prima vacacional del 25% del salario por cada día de vacaciones
##calculo de prestaciones IMSS e INFONAVIT
##El salario base de cotización (SBC) es el salario diario integrado que se utiliza para calcular las aportaciones al IMSS y al INFONAVIT.
recursos_humano["Salario base de cotización (SBC/cu/diario)"]=(recursos_humano["Salario c/u"]/30)+((recursos_humano["Vacaciones (MNX/año)"]/recursos_humano["Cantidad de personal"])+(recursos_humano["Aguinaldo (MNX/año)"]/recursos_humano["Cantidad de personal"])+(recursos_humano["Prima Vacacional (MNX/año)"]/recursos_humano["Cantidad de personal"]))/365
##El IMSS establece una tasa de aportación del 26% sobre el SBC para el seguro de enfermedades y maternidad, riesgos de trabajo, guarderías y prestaciones sociales.
recursos_humano["IMSS/mes"] = recursos_humano["Salario base de cotización (SBC/cu/diario)"]*30*0.26 *recursos_humano["Cantidad de personal"]
##El INFONAVIT establece una tasa de aportación del 5% sobre el SBC para el fondo de vivienda.
recursos_humano["INFONAVIT/mes"] = recursos_humano["Salario base de cotización (SBC/cu/diario)"]*30*0.05 *recursos_humano["Cantidad de personal"]

recursos_humano["IMSS/año"] = recursos_humano["IMSS/mes"]*12 #12 meses al año
recursos_humano["INFONAVIT/año"] = recursos_humano["INFONAVIT/mes"]*12 #12 meses al año
## IMPUESTOS
recursos_humano["ISN (MXN/año)"] =(recursos_humano["Salario total (MNX/año)"]+recursos_humano["Vacaciones (MNX/año)"]+recursos_humano["Aguinaldo (MNX/año)"]+recursos_humano["Prima Vacacional (MNX/año)"])*0.018


##sumar todo los datos del los cotos de personal
recursos_humano.loc["Total"] = recursos_humano[["Cantidad de personal", "Salario c/u", "Salario total (MNX/mes)","Salario total (MNX/año)",
                                                "Vacaciones (MNX/año)","Aguinaldo (MNX/año)","Prima Vacacional (MNX/año)","IMSS/año","INFONAVIT/año","IMSS/mes","INFONAVIT/mes", "ISN (MXN/año)"]].replace('[\$,]', '', regex=True).astype(float).sum()
recursos_humano.loc["Total", "Personal"] = "Total"


##Guardar valores para que se mantengan con numero y poder hacer operacion con ellos 
total_anual=recursos_humano.iloc[-1]["Salario total (MNX/año)"]
total_vacaciones_anual=recursos_humano.iloc[-1]["Vacaciones (MNX/año)"]
total_aguinaldo_anual=recursos_humano.iloc[-1]["Aguinaldo (MNX/año)"]     
total_prima_vacacional_anual=recursos_humano.iloc[-1]["Prima Vacacional (MNX/año)"]
total_IMSS_anual=recursos_humano.iloc[-1]["IMSS/año"]
total_INFONAVIT_anual=recursos_humano.iloc[-1]["INFONAVIT/año"]
tax_total=recursos_humano.iloc[-1]["ISN (MXN/año)"]
 

##Formato de la tabla
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Salario total (MNX/mes)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Aguinaldo (MNX/año)"] = recursos_humano["Aguinaldo (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Vacaciones (MNX/año)"] = recursos_humano["Vacaciones (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Prima Vacacional (MNX/año)"] = recursos_humano["Prima Vacacional (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario c/u"] = recursos_humano["Salario c/u"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario base de cotización (SBC/cu/diario)"] = recursos_humano["Salario base de cotización (SBC/cu/diario)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["IMSS/mes"] = recursos_humano["IMSS/mes"].apply(lambda x: f"${x:,.2f}")
recursos_humano["INFONAVIT/mes"] = recursos_humano["INFONAVIT/mes"].apply(lambda x: f"${x:,.2f}")
recursos_humano["IMSS/año"] = recursos_humano["IMSS/año"].apply(lambda x: f"${x:,.2f}")
recursos_humano["INFONAVIT/año"] = recursos_humano["INFONAVIT/año"].apply(lambda x: f"${x:,.2f}")
recursos_humano["ISN (MXN/año)"] = recursos_humano["ISN (MXN/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano

,Personal,Cantidad de personal,Salario c/u,Salario total (MNX/mes),Salario total (MNX/año),Vacaciones (MNX/año),Aguinaldo (MNX/año),Prima Vacacional (MNX/año),Salario base de cotización (SBC/cu/diario),IMSS/mes,INFONAVIT/mes,IMSS/año,INFONAVIT/año,ISN (MXN/año)
0,Ingeniero de procesos,2.0,"$30,000.00","$60,000.00","$720,000.00","$12,000.00","$30,000.00","$6,000.00","$1,065.75","$16,625.75","$3,197.26","$199,509.04","$38,367.12","$13,824.00"
1,Operadores de planta,6.0,"$9,000.00","$54,000.00","$648,000.00","$10,800.00","$27,000.00","$5,400.00",$319.73,"$14,963.18","$2,877.53","$179,558.14","$34,530.41","$12,441.60"
2,Personal Técnico y de Mantenimiento mecánico,4.0,"$11,000.00","$44,000.00","$528,000.00","$8,800.00","$22,000.00","$4,400.00",$390.78,"$12,192.22","$2,344.66","$146,306.63","$28,135.89","$10,137.60"
3,Personal Técnico eléctrico/instrumentación,4.0,"$11,000.00","$44,000.00","$528,000.00","$8,800.00","$22,000.00","$4,400.00",$390.78,"$12,192.22","$2,344.66","$146,306.63","$28,135.89","$10,137.60"
4,Ingeniero de seguridad de procesos,1.0,"$25,000.00","$25,000.00","$300,000.00","$5,000.00","$12,500.00","$2,500.00",$888.13,"$6,927.40","$1,332.19","$83,128.77","$15,986.30","$5,760.00"
5,Administrador/a general,1.0,"$20,000.00","$20,000.00","$240,000.00","$4,000.00","$10,000.00","$2,000.00",$710.50,"$5,541.92","$1,065.75","$66,503.01","$12,789.04","$4,608.00"
6,Responsable de recursos humanos,2.0,"$20,000.00","$40,000.00","$480,000.00","$8,000.00","$20,000.00","$4,000.00",$710.50,"$11,083.84","$2,131.51","$133,006.03","$25,578.08","$9,216.00"
7,Ingeniero ambiental,1.0,"$25,000.00","$25,000.00","$300,000.00","$5,000.00","$12,500.00","$2,500.00",$888.13,"$6,927.40","$1,332.19","$83,128.77","$15,986.30","$5,760.00"
8,Personal de intendendia industrial,4.0,"$8,000.00","$32,000.00","$384,000.00","$6,400.00","$16,000.00","$3,200.00",$284.20,"$8,867.07","$1,705.21","$106,404.82","$20,462.47","$7,372.80"
Total,Total,25.0,"$159,000.00","$344,000.00","$4,128,000.00","$68,800.00","$172,000.00","$34,400.00",$nan,"$95,320.99","$18,330.96","$1,143,851.84","$219,971.51","$79,257.60"

In [209]:
totals = {
    "Concepto": ["Total salarial anual", "Total vacaciones anual", "Total aguinaldo anual", 
                 "Total prima vacacional anual", "Total IMSS anual", "Total INFONAVIT anual"],
    "Monto (MNX/año)": [total_anual, total_vacaciones_anual, total_aguinaldo_anual, 
                    total_prima_vacacional_anual, total_IMSS_anual, total_INFONAVIT_anual]
}
final = pd.DataFrame(totals)
final.loc["Total"]= final[["Monto (MNX/año)"]].replace('[\$,]', '', regex=True).astype(float).sum()
OL_total = final.iloc[-1]["Monto (MNX/año)"]
final.loc["Total", "Concepto"] = "Total"
final["Monto (MNX/año)"] = final["Monto (MNX/año)"].apply(lambda x: f"${x:,.2f}")


final

                           Concepto Monto (MNX/año)
0              Total salarial anual   $4,128,000.00
1            Total vacaciones anual      $68,800.00
2             Total aguinaldo anual     $172,000.00
3      Total prima vacacional anual      $34,400.00
4                  Total IMSS anual   $1,143,851.84
5             Total INFONAVIT anual     $219,971.51
Total                         Total   $5,767,023.34

<h3>Taxes</h3>

 Las personas físicas y Morales están obligados al pago de **impuestos sobre la renta**. De acuerdo con el artículo 9 ley las personas morales deben de aplicar la tasa del 30%

**El Impuesto Sobre Nómina (ISN)** es un impuesto estatal que deben pagar las empresas por los pagos que hacen a sus trabajadores. Se calcula como un porcentaje del total de los pagos realizados por concepto de sueldos, salarios y otras prestaciones laborales. 
**Para el caso específico del estado de Baja California se considera una tarifa del 1.8%**

In [210]:
#cálculo del impuesto sobre la Nómina
recursos_humano[["Salario total (MNX/año)","Vacaciones (MNX/año)","Prima Vacacional (MNX/año)" ,"Aguinaldo (MNX/año)","ISN (MXN/año)"]]

,Salario total (MNX/año),Vacaciones (MNX/año),Prima Vacacional (MNX/año),Aguinaldo (MNX/año),ISN (MXN/año)
0,"$720,000.00","$12,000.00","$6,000.00","$30,000.00","$13,824.00"
1,"$648,000.00","$10,800.00","$5,400.00","$27,000.00","$12,441.60"
2,"$528,000.00","$8,800.00","$4,400.00","$22,000.00","$10,137.60"
3,"$528,000.00","$8,800.00","$4,400.00","$22,000.00","$10,137.60"
4,"$300,000.00","$5,000.00","$2,500.00","$12,500.00","$5,760.00"
5,"$240,000.00","$4,000.00","$2,000.00","$10,000.00","$4,608.00"
6,"$480,000.00","$8,000.00","$4,000.00","$20,000.00","$9,216.00"
7,"$300,000.00","$5,000.00","$2,500.00","$12,500.00","$5,760.00"
8,"$384,000.00","$6,400.00","$3,200.00","$16,000.00","$7,372.80"
Total,"$4,128,000.00","$68,800.00","$34,400.00","$172,000.00","$79,257.60"

<h2>Variable cost</h2>

<p>Variable costs consider:</p>
<ol>
    <li>Miscellaneous operating materials:
        <ol>
            <li>Safety clothing: hard hats, safety glasses etc.</li>
            <li>Instrument charts and accessories</li>
            <li>Cleaning materials</li>
        </ol>
    </li>
</ol>

In [211]:
import pandas as pd

# Data for the table
data = {
    "Concepto": ["Artículos de oficinas", "Material de seguridad"],
    "Descripción": ["Hojas, carpetas, bolígrafos, etc.", 
                    "Botas de seguridad, casco, googles de seguridad, guantes y otros EPP"],
    "Costo (MNX)": ["$8,000.00", "$5,695.00"]
}

# Create the DataFrame
table = pd.DataFrame(data)

# Add a total row
table['Costo (MNX)'] = table['Costo (MNX)'].replace('[\$,]', '', regex=True).astype(float)
table.loc["Total"] = ["Total", "", f"${table['Costo (MNX)'].sum():,.2f}"]

# Display the table
cv_total = table.iloc[-1]["Costo (MNX)"].replace('$', '').replace(',', '')
cv_total = float(cv_total)
#cv_total
table

,Concepto,Descripción,Costo (MNX)
0,Artículos de oficinas,"Hojas, carpetas, bolígrafos, etc.",8000.0
1,Material de seguridad,"Botas de seguridad, casco, googles de segurida...",5695.0
Total,Total,,"$13,695.00"

<h1>Punto de equilibrio</h1>

In [212]:
Cfijos_totales=OL_total+tax_total+Power_total+Main_total.maintenance_cost #suma de todos los costos fijos
Cfijos_totales #total de costos fijos

11331562.557186369

In [213]:
n_unidades= 4*365 #ton por dia
Cvariable=cv_total/n_unidades #costo variable por tonelada

In [220]:
#precio de venta unitario.
# https://www.elfinanciero.com.mx/empresas/2021/05/12/conforme-suba-el-costo-del-gas-natural-el-hidrogeno-verde-entrara-en-precios-competitivos-rosa-gonzalez-investigadora-del-ipn/

PVU= 2 #5 usd por kg
PVU = PVU * 1000  # Convertir de USD por kg a USD por tonelada
PVU=PVU*19.10 #conversion de USD a MNX

#calculo  del punto de equilibrio 
PE= (Cfijos_totales/(-Cvariable+PVU)) #punto de equilibrio en toneladas
PE=PE/ 260
PE

1.1411946982945893