<h1>RECURSOS HUMANOS</h1>

In [ ]:
import pandas as pd
#Cargas sociales
trabajo = {
    "Personal": ["Ingeniero de procesos", 
                 "Operadores de planta ", 
                 "Personal Técnico y de Mantenimiento mecánico",
                 "Personal Técnico eléctrico/instrumentación",
                 "Ingeniero de seguridad de procesos",
                 "Administrador/a general",
                 "Responsable de recursos humanos "],
    "Cantidad de personal": [2,12,4,4,1,1,2],
    "Salario c/u": [30000,
                    9000,
                    11000,
                    11000,
                    25000,
                    20000,
                    20000],
}

recursos_humano = pd.DataFrame(trabajo)
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Cantidad de personal"] * recursos_humano["Salario c/u"]
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/mes)"] * 10 #meses de trabajo al año
recursos_humano.loc["Total"] = recursos_humano[["Cantidad de personal", "Salario c/u", "Salario total (MNX/mes)","Salario total (MNX/año)"]].replace('[\$,]', '', regex=True).astype(float).sum()
recursos_humano.loc["Total", "Personal"] = "Total"

#Formato de la tabla
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Salario total (MNX/mes)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario c/u"] = recursos_humano["Salario c/u"].apply(lambda x: f"${x:,.2f}")
recursos_humano

,Personal,Cantidad de personal,Salario c/u,Salario total (MNX/mes),Salario total (MNX/año)
0,Ingeniero de procesos,2.0,"$30,000.00","$60,000.00","$600,000.00"
1,Operadores de planta,12.0,"$9,000.00","$108,000.00","$1,080,000.00"
2,Personal Técnico y de Mantenimiento mecánico,4.0,"$11,000.00","$44,000.00","$440,000.00"
3,Personal Técnico eléctrico/instrumentación,4.0,"$11,000.00","$44,000.00","$440,000.00"
4,Ingeniero de seguridad de procesos,1.0,"$25,000.00","$25,000.00","$250,000.00"
5,Administrador/a general,1.0,"$20,000.00","$20,000.00","$200,000.00"
6,Responsable de recursos humanos,2.0,"$20,000.00","$40,000.00","$400,000.00"
Total,Total,26.0,"$126,000.00","$341,000.00","$3,410,000.00"

<h1>Costos fijos</h1>

<h1>costos variables</h1>

<h1>Inversion total</h>