<h1>RECURSOS HUMANOS</h1>

In [19]:
import pandas as pd

trabajo = {
    "Personal": ["Ingeniero de procesos", 
                 "Operadores de planta ", 
                 "Personal Técnico y de Mantenimiento mecánico",
                 "Personal Técnico eléctrico/instrumentación",
                 "Ingeniero de seguridad de procesos",
                 "Administrador/a general",
                 "Responsable de recursos humanos "],
    "Cantidad de personal": [2,12,4,4,1,1,2],
    "Salario c/u": [50000,20000,15000,15000,40000,30000,25000],
}

recursos_humano = pd.DataFrame(trabajo)
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Cantidad de personal"] * recursos_humano["Salario c/u"]
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/mes)"] * 12
recursos_humano.loc["Total"] = recursos_humano[["Cantidad de personal", "Salario c/u", "Salario total (MNX/mes)","Salario total (MNX/año)"]].replace('[\$,]', '', regex=True).astype(float).sum()
recursos_humano.loc["Total", "Personal"] = "Total"

#Formato de la tabla
recursos_humano["Salario total (MNX/mes)"] = recursos_humano["Salario total (MNX/mes)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario total (MNX/año)"] = recursos_humano["Salario total (MNX/año)"].apply(lambda x: f"${x:,.2f}")
recursos_humano["Salario c/u"] = recursos_humano["Salario c/u"].apply(lambda x: f"${x:,.2f}")
recursos_humano

,Personal,Cantidad de personal,Salario c/u,Salario total (MNX/mes),Salario total (MNX/año)
0,Ingeniero de procesos,2.0,"$50,000.00","$100,000.00","$1,200,000.00"
1,Operadores de planta,12.0,"$20,000.00","$240,000.00","$2,880,000.00"
2,Personal Técnico y de Mantenimiento mecánico,4.0,"$15,000.00","$60,000.00","$720,000.00"
3,Personal Técnico eléctrico/instrumentación,4.0,"$15,000.00","$60,000.00","$720,000.00"
4,Ingeniero de seguridad de procesos,1.0,"$40,000.00","$40,000.00","$480,000.00"
5,Administrador/a general,1.0,"$30,000.00","$30,000.00","$360,000.00"
6,Responsable de recursos humanos,2.0,"$25,000.00","$50,000.00","$600,000.00"
Total,Total,26.0,"$195,000.00","$580,000.00","$6,960,000.00"

<h1>Costos fijos</h1>

<h1>costos variables</h1>

<h1>Inversion total</h>